@page "/movies/search"

    <h3>FiltroPeliculas</h3>

    <div class="form-inline">
        <div class="form-group mb-2">
             <label for="titulo" class="sr-only">Titulo</label>
             <input @bind-value="titulo" @bind-value:event="oninput"
                    @onkeypress="@((KeyboardEventArgs e)=>TituloKeyPress(e))"
                    type="text" class="form-control" id="titulo" placeholder="Título Película"
                    />
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <select class="form-control" @bind="generoSeleccionado">
                <option value="0">--Seleccione un Genero--</option>
                @foreach (var item in categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>

    @code {
        string titulo = "";
        string generoSeleccionado = "";
        private List<Category> categories = new List<Category>();

        private void TituloKeyPress(KeyboardEventArgs e)
        {
            if(e.Key=="Enter")
            {

            }
        }
    }
